<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TODO List Vue</title>

    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="todo_list_vue_style.css" rel="stylesheet">

    <script defer src="node_modules/jquery/dist/jquery.min.js"></script>
    <script defer src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script defer src="node_modules/vue/dist/vue.min.js"></script>
    <script defer src="todo_list_vue_script.js"></script>
</head>

<body>
<div v-cloak id="app">
    <div class="container">
        <todo-list></todo-list>
    </div>
</div>

<script id="todo-list-template" type="text/x-template">
    <div>
        <h1 class="my-3">TODO List Vue</h1>

        <form class="form-group row no-gutters needs-validation" novalidate>
            <div class="col mr-2 mb-2">
                <input class="form-control" :class="itemValidity" type="text" v-model.trim="newTodoItem"
                       placeholder="Note text" @input="checkItemValidity">
                <div class="invalid-feedback">Please enter text</div>
            </div>
            <div class="col-auto mb-2">
                <button type="button" class="btn btn-primary" @click="addNewItem">Add</button>
            </div>
        </form>

        <ul>
            <todo-list-item
                    v-for="item in items"
                    @delete-item="deleteItem"
                    @save-item="saveEditedItem"
                    :item="item"
                    :key="item.id"></todo-list-item>
        </ul>
    </div>
</script>

<script id="todo-list-item-template" type="text/x-template">
    <li class="mb-2">
        <template v-if="isEditing">
            <form class="form-inline needs-validation" novalidate>
                <input type="text" class="form-control mr-1 mb-2" :class="editedItemValidity" v-model.trim="editText"
                       @input="checkEditedItemValidity">
                <button class="btn btn-primary mb-2" type="button" @click="saveEditedItem">Save</button>
                <button class="btn btn-secondary mb-2" type="button" @click="cancelEditing">Cancel</button>
                <div class="invalid-feedback mt-0 mb-3">Please enter text or press cancel</div>
            </form>
        </template>

        <template v-else>
            <span class="mr-3 mb-2">{{ item.text }}</span>
            <button class="btn btn-primary mb-2" type="button" @click="editItem">Edit</button>
            <button class="btn btn-danger mb-2" type="button" @click="deleteItem">Delete</button>
        </template>
    </li>
</script>
</body>
</html>