<!DOCTYPE html>
<html>
<head>
    <title>PhoneBook Server</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script defer src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script defer src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="/node_modules/vue/dist/vue.min.js"></script>
    <script defer src="/javascripts/phone_book.js"></script>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
