* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', monospace;
}

.header, .note-field, .button, .error, .todo-list {
    margin-left: 10px;
}

.error, .prompt {
    color: #f00;
    margin-top: 10px;
}

.todo-list button {
    margin-left: 10px;
}

.todo-list li + li {
    margin-top: 10px;
}