* {
    box-sizing: border-box;
}

body {
    font-family: Arial, serif;
    color: #676565;
}

.header {
    max-width: 844px;
    font-size: 34px;
    margin: 0 auto;
    padding: 0 0 4px 21px;
}

.form {
    background-color: #FEEED6;
    max-width: 844px;
    margin: 0 auto;
    padding: 18px 21px;
}

.form input, .form textarea {
    width: 100%;
    margin-bottom: 19px;
    padding: 11px 14px;
    border: none;
    background-color: #FFF;
}

.form textarea {
    resize: vertical;
    margin-bottom: 14px;
}

.form input:focus, .form textarea:focus {
    outline: none;
}

.form button {
    font-weight: bold;
    font-size: 16px;
    color: #FFF;
    padding: 10px 14px;
    border: none;
    background: #378DB2;
    display: block;
    margin-left: auto;
}

.form button:hover {
    background-color: #136a85;
    cursor: pointer;
}

.form label {
    font-weight: bold;
    margin-bottom: 8px;
    display: inline-block;
}

.form > div:last-of-type {
    margin-bottom: 13px;
}